<h1>New mattress</h1>

<%= render "form", mattress: @mattress %>

<br>
</div>
<%= link_to "Back to shops", new_shop_path %>
</div>

<div>
  <%= link_to "Back to mattresses", mattresses_path %>
</div>
